.container {
  display: grid;
  gap: 4rem;
  height: auto;
  width: 256px;
  padding: 48px 24px;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.textContainer {
  font-size: 20px;
}

.textContainer > h3 {
  font-size: 28px;
}
.textContainer > p {
  text-align: center;
}

img {
  width: 128px;
}
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: auto;
    gap: 1rem;
  }
  .textContainer > h3 {
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  img {
    width: 128px;
  }
  .container {
    padding: 20px;
    margin: 0px;
  }
  .textContainer {
    font-size: 16px;
    text-align: center;
  }
  .textContainer > h3 {
    font-size: 16px;
  }
}
