.mainContent {
  position: absolute;
  top: 20%;
  color: black;
  left: 50%;
  font-family: arial;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 20px;
  height: auto;
}

.mainContent > h1 {
  font-size: 52px;
  font-family: arial;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
}
p {
  text-align: justify;
  text-justify: auto;
}

@media screen and (max-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  .mainContent {
    top: 23%;
    font-size: 16px;
  }
  p {
    text-align: center;
    text-justify: none;
  }
}
