:root {
  --primary-color: rgba(25, 29, 45); /* try #212121 also for dark mode */
  --background-color: rgba(25, 29, 45);
  --font: arial;
}
.mainContent {
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  font-family: arial;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 24px;
}

.mainContent > h1 {
  font-size: 52px;
  font-family: arial;
}

* {
  margin: 0;
  padding: 0;
}

.timelineOuter {
  font-family: var(--font);
  display: flex;
  justify-content: center;
}

/* Timeline Container */
.timeline {
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid white;
  height: auto;
  padding-left: 20px;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px;
  padding: 10px;
  height: auto;
  background: #351616;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #cecece;
  text-align: left;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid white;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
}

@media screen and (max-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
  .mainContent {
    top: 30%;
  }
  .card {
    font-size: 20px;
  }
}
