.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  height: auto;
  padding: 48px 24px;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
  margin: 12px 0px;
}

.textContainer {
  font-size: 20px;
}

.textContainer > h3 {
  font-size: 28px;
  text-align: left;
}
.textContainer > p {
  text-align: left;
}

img {
  width: 128px;
}
button {
  text-align: left;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  width: auto;
  padding: 12px 16px;
  box-shadow: 5px 5px;
  transition: all 0.5s ease;
}

button:hover {
  box-shadow: 2px 2px;
  background-color: lightgray;
}
button:active {
  box-shadow: 1px 1px;
  background-color: gray;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: auto;
    gap: 0rem;
  }
  .textContainer > h3 {
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  img {
    width: 128px;
  }
  .container {
    padding: 24px;
  }
  .textContainer {
    font-size: 16px;
    text-align: center;
  }
  .textContainer > h3 {
    font-size: 16px;
  }
}
